doctype html
html
  head
    title LeitnerDecks
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

  body
    header#right
      a(href="/cards")
        i(class="fa-solid fa-user-gear")

    main
      .deck-container
        each deck in decks
          .deck
            h2 DECK #{deck.deckId}
            p.card-count #{deckCardCount.find(dc => dc.deckId === deck.deckId).count} Cards
            if deckCardCount.find(dc => dc.deckId === deck.deckId).count > 0
              button(type="button" class="active") Practice Deck #{deck.deckId}
            else
              button(type="button" class="inactive" disabled) Practice Deck #{deck.deckId}
            p.time-remaining
