@import url("main.css");

header#admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 8rem solid transparent;
  border-top: 8rem solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

header#admin i {
  position: absolute;
  top: -7rem;
  left: 1rem;
  color: var(--darkest);
  font-size: 3rem;
}

header#admin i:hover {
  scale: 1.15;
}
