@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");

:root {
  --darkest: rgb(34, 40, 49);
  --dark: rgb(57, 62, 70);
  --main: rgb(255, 211, 105);
  --light: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkest);
  background-color: var(--darkest);
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header#right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 8rem solid transparent;
  border-top: 8rem solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

header#right i {
  position: absolute;
  top: -6.75rem;
  right: 0.75rem;
  color: var(--darkest);
  font-size: 2.25rem;
}

header#right i.fa-square-plus {
  font-size: 2.75rem;
  top: -6.875rem;
  right: 1.35rem;
}

header#right i:hover {
  scale: 1.15;
}

header#left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 8rem solid transparent;
  border-top: 8rem solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

header#left i {
  position: absolute;
  top: -7rem;
  left: 1rem;
  color: var(--darkest);
  font-size: 3rem;
}

header#left i:hover {
  scale: 1.15;
}

.deck-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.deck {
  width: 15rem;
  height: 10rem;
  padding-top: 1rem;
  border-radius: 0.25rem;
  background-color: var(--main);
}

.deck:hover {
  scale: 1.01;
}

.deck h2 {
  font-size: 1.75rem;
}

.deck p.card-count {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.deck p.time-remaining {
  margin-top: 2.75rem;
  font-size: 0.75rem;
  color: var(--light);
}

button {
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button.active {
  background-color: var(--dark);
  color: var(--light);
}

button.inactive {
  background-color: var(--light);
  color: var(--dark);
}

button.active:hover {
  scale: 1.05;
}

button[disabled] {
  cursor: not-allowed;
}

h1#card-form-title {
  color: var(--light);
  letter-spacing: 0.05rem;
  margin-top: 10rem;
}

main > form {
  width: 33%;
}

main > form input {
  width: 100%;
  height: 2rem;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
  border: none;
  background-color: var(--main);
  color: var(--darkest);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

main > form input::placeholder,
main > form textarea::placeholder {
  color: var(--dark);
  opacity: 0.5;
}

main > form input:focus {
  outline: none;
}

main > form textarea {
  width: 100%;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
  border: none;
  background-color: var(--main);
  color: var(--darkest);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

main > form button {
  display: block;
  width: 7rem;
  height: 2.5rem;
  margin: 0.5rem auto;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--darkest);
  background-color: var(--light);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main > form button:hover {
  scale: 1.1;
}

main > form button:active {
  scale: 0.95;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card {
  width: 20rem;
  height: 15rem;
  border-radius: 0.25rem;
  text-align: center;
  background-color: var(--main);
}

p#word {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

p#word_type {
  font-size: 1rem;
}

p#context {
  font-size: 1rem;
}

p#translation {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

p#placeholder {
  font-size: 2.5rem;
  margin-top: 2.5rem;
}

main > .card-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main > .card-container > form input {
  width: 100%;
  height: 2rem;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
  border: none;
  background-color: var(--main);
  color: var(--darkest);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

main > .card-container > form input::placeholder,
main > .card-container > form textarea::placeholder {
  color: var(--dark);
  opacity: 0.5;
}

main > .card-container > form input:focus {
  outline: none;
}

main > .card-container > form button {
  display: block;
  width: 5rem;
  height: 2rem;
  margin: 0.5rem auto;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  color: var(--darkest);
  background-color: var(--light);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main > .card-container > form button:hover {
  scale: 1.05;
}

main > .card-container > form button:active {
  scale: 0.95;
}

#next-card {
  width: 10rem;
  position: absolute;
  top: 5rem;
  left: calc(50% - 5rem);
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 575px) {
  .deck-container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3.5rem;
  }

  .deck {
    width: 15rem;
    height: 10rem;
  }

  .deck:last-child {
    margin-bottom: 3.5rem;
  }

  main > form {
    width: 47%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .deck-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.5rem;
  }

  .deck:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .deck:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .deck:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .deck:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .deck:nth-child(5) {
    grid-area: 3 / 1 / 4 / 3;
    position: relative;
    left: 8.75rem;
  }

  .deck {
    width: 15rem;
    height: 10rem;
  }

  main > form {
    width: 39%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .deck-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 3.5rem;
  }

  .deck:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .deck:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .deck:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  .deck:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    left: 8.75rem;
  }
  .deck:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
    position: relative;
    right: 8.75rem;
  }

  .deck {
    width: 15rem;
    height: 10rem;
  }

  main > form {
    width: 35%;
  }
}

@media only screen and (min-width: 1400px) {
  .deck-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.5rem;
  }

  .deck {
    width: 15rem;
    height: 10rem;
  }
}

#cards-div {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2.25rem;
  column-gap: 0.01rem;
}

.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.card-header,
.card-body,
.card-footer {
  text-align: center;
  color: var(--light);
}

.card-header {
  width: 150%;
}

.card-footer {
  display: flex;
}

.word-span {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--main);
}

.translation-span {
  font-size: 1.25rem;
}

.card-footer button {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1.25rem;
}

.card-footer button:hover {
  text-decoration: underline;
}

.btn-edit {
  color: lightblue;
}

.btn-delete {
  color: lightcoral;
}
